BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clkin" 50.000000 MHz ;
LOCATE COMP "led0" SITE "E9" ;
LOCATE COMP "led1" SITE "E10" ;
LOCATE COMP "led2" SITE "G9" ;
LOCATE COMP "led3" SITE "G10" ;
LOCATE COMP "key0" SITE "D9" ;
LOCATE COMP "key1" SITE "D10" ;
LOCATE COMP "clkin" SITE "F9" ;
LOCATE COMP "lcd_en_vcc" SITE "F1" ;
LOCATE COMP "lcd_reset" SITE "F2" ;
LOCATE COMP "lcd_pwm" SITE "K4" ;
LOCATE COMP "fpga_rxd" SITE "J10" ;
LOCATE COMP "fpga_txd" SITE "J9" ;
LOCATE COMP "i_txr/Inst_MIPIDPHYA" SITE "MIPIDPHY0" ;
LOCATE COMP "i_txl/Inst_MIPIDPHYA" SITE "MIPIDPHY1" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

