BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset_n" SITE "H2" ;
LOCATE COMP "led0" SITE "E9" ;
LOCATE COMP "led1" SITE "E10" ;
LOCATE COMP "led2" SITE "G9" ;
LOCATE COMP "led3" SITE "G10" ;
LOCATE COMP "key0" SITE "D9" ;
LOCATE COMP "key1" SITE "D10" ;
LOCATE COMP "clkin" SITE "F9" ;
LOCATE COMP "fpga_rxd" SITE "J10" ;
LOCATE COMP "fpga_txd" SITE "J9" ;
LOCATE COMP "i_txa/Inst_MIPIDPHYA" SITE "MIPIDPHY0" ;
LOCATE COMP "i_txb/Inst_MIPIDPHYA" SITE "MIPIDPHY1" ;
